<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ text.forgot_title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--Send email for otp-->
<ion-card mode="ios" *ngIf="!user_id">

<ion-card-header>

<ion-card-title>{{ text.forgot_title }}</ion-card-title>
<ion-card-subtitle>{{ text.forgot_heading }}</ion-card-subtitle>

</ion-card-header>

<ion-card-content>
<form #form="ngForm" (ngSubmit)="forgot(form.value)">

<ion-item>
  <ion-label position="floating">{{ text.forgot_text }}</ion-label>
  <ion-input type="email" ngModel required name="email"></ion-input>
</ion-item>

<br>

<ion-button expand="block" mode="ios" type="submit">Submit</ion-button>
<br>
</form>
</ion-card-content>
</ion-card>

<!--Verify OTP code-->
<ion-card mode="ios" *ngIf="user_id && !newPassword">

<ion-card-header>
<ion-card-title>Verify Your Email</ion-card-title>
<ion-card-subtitle>A OTP has been sent on your email {{ this.email }}</ion-card-subtitle>

</ion-card-header>
<br><br>
<form #form="ngForm" (ngSubmit)="verify(form.value)">

<ion-item>
  <ion-label position="floating" style="font-size: 12px">Enter OTP</ion-label>
  <ion-input type="email" ngModel required name="otp"></ion-input>
</ion-item>

<br>

<ion-button expand="block" mode="ios" type="submit">Verify</ion-button>

</form>
<p align="center">Did'nt get OTP? <a (click)="resend()">Resend</a></p>

</ion-card>

<!--Set New Password-->
<ion-card mode="ios" *ngIf="user_id && newPassword">

<ion-card-header>
<ion-card-title>Set New Password</ion-card-title>

</ion-card-header>
<br><br>
<form #form="ngForm" (ngSubmit)="new_password(form.value)">

<ion-item>
  <ion-label position="floating" style="font-size: 12px">New Password</ion-label>
  <ion-input type="password" ngModel required name="password"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating" style="font-size: 12px">Confirm Password</ion-label>
  <ion-input type="password" ngModel required name="new_password"></ion-input>
</ion-item>

<br>

<ion-button expand="block" mode="ios" type="submit">Update</ion-button>

</form>
<p align="center">Did'nt get OTP? <a (click)="resend()">Resend</a></p>

</ion-card>

</ion-content>
