.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
  
}

h1
{
	font-size:19px;
}

ion-badge
{
	--padding-bottom:5px;
	--padding-start:10px;
	--padding-end:10px;
	--padding-top:5px;
}

.quantityinput{padding:2px 2px; text-align:center; border:1px solid #ccc;  background:#fff; width:28px;}
.quantitybtn .sign{padding:7px 2px; width:20px; text-align:center; cursor:pointer; font-weight:bold; outline:none; }
.quantitybtn .plus{background:#f44336; border:1px solid #f44336; color:#fff; border-radius:5px 0px 0px 5px;}
.quantitybtn .minus{background:#4caf50; border:1px solid #4caf50; color:#fff; border-radius:0px 5px 5px 0px;}