<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ text.info_title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-slides pager="true" autoplay="3000">
<ion-slide><img src="{{ data.img }}"></ion-slide>
<ion-slide *ngFor="let img of data.images"><img src="{{ img.img }}"></ion-slide>
</ion-slides>

<ion-card mode="ios">

<ion-card-header>
<ion-card-title>{{ data.title }} <ion-badge color="primary" style="float: right">{{ data.rating }}<br></ion-badge></ion-card-title>
<ion-card-subtitle>{{ data.type }}</ion-card-subtitle>
</ion-card-header>

<ion-card-content>

<ion-list lines="none">
<ion-item text-wrap>
  <ion-label>{{ data.address }}</ion-label>
  <ion-icon name="pin" slot="start" color="danger"></ion-icon>
</ion-item>

<ion-item text-wrap>
  <ion-label><a href="tel:{{ data.phone }}">{{ data.phone }}</a></ion-label>
  <ion-icon name="call" slot="start" color="danger"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>{{ text.info_open }} : {{ data.open_time }}</ion-label>
  <ion-icon name="time" slot="start" color="danger"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>{{ text.info_close }} : {{ data.close_time }}</ion-label>
  <ion-icon name="time" slot="start" color="danger"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>{{ text.info_person }} : {{ data.currency }}{{ data.person_cost }}</ion-label>
  <ion-icon name="cash" slot="start" color="danger"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>{{ text.info_d_time }} : {{ data.delivery_time }}</ion-label>
  <ion-icon name="cube" slot="start" color="danger"></ion-icon>
</ion-item>

</ion-list>
</ion-card-content>

</ion-card>

<span *ngIf="data.ratings.length > 0">

<h3 style="padding: 0px 18px">{{ text.info_rating_title }}</h3>

<ion-card mode="ios" *ngFor="let rate of data.ratings">

<ion-card-header>
<ion-card-subtitle>{{ rate.user }} <small style="float: right">{{ rate.date }}</small>

<ion-row *ngIf="rate.star == 1">
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
</ion-row>

<ion-row *ngIf="rate.star == 2">
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
</ion-row>

<ion-row *ngIf="rate.star == 3">
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
</ion-row>

<ion-row *ngIf="rate.star == 4">
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
</ion-row>

<ion-row *ngIf="rate.star == 5">
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
<ion-col size="1"><ion-icon name="star" color="danger"></ion-icon></ion-col>
</ion-row>

</ion-card-subtitle>
</ion-card-header>

<ion-card-content>

{{ rate.comment }}

</ion-card-content>
</ion-card>

</span>

</ion-content>
